@media (min-width: 992px) and (max-width: 1199px){
    .menu li{
        padding: 0 30px 0 0;
    }
    .menu li a{
        font-size: 13px;
        padding: 15px 20px;
    }
    .banner-blog h1{
        font-size: 60px;
        margin: 0 0 50px 0;
    }
    .banner-pic{
        margin: 0 0 40px 0;
    }
    .carousel-control-prev {
        width: 95%;
    }
    .carousel-control-next {
        width: 93%;
    }
    .class-box-inner{
        padding: 40px 60px 60px 60px;
    }
    .class-btn{
        padding-left: 28px;
    }
    .about-box{
        padding: 0px;
    }
    .about-pic img{
        width: 105%;
    }
    .about-pic{
        position: relative;
        top: 5%;
    }
    .about-blog h1{
        margin-bottom: 40px;
    }
    .about-box p{
        margin-bottom: 35px;
    }
    .shop-blog{
        width: 54%;
    }
    .shop-box2 h1{
        margin-bottom: 40px;
    }
    .shop-box2 p{
        margin-bottom: 40px;
    }
    .shop-box2{
        padding: 150px 0;
    }
    .jone-lo{
        top: 0%;
        right: 77%;
    }
    .disol{
        top: 0%;
        right: 5%;
    }
    .michale{
        right: 39%;
    }
    .footer-inner{
        flex-wrap: nowrap;
    }
    .form-btn{
        margin-top: 22px;
    }
    .footer-media{
        padding: 0 15px 0 0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .menu li{
        padding: 0 20px 0 0;
    }
    .menu li a{
        font-size: 11px;
        padding: 15px 25px;
    }
    .icon-blog{
        margin-top: -20px;
    }
    .logo{
        margin-bottom: 20px;
    }
    .banner-blog h1{
        font-size: 50px;
        margin: 0 0 30px 0;
    }
    .banner-pic{
        margin: 0 0 30px 0;
    }
    .carousel-control-prev{
        top: 85%;
        width: 96%;
    }
    .carousel-control-next{
        top: 85%;
        width: 88%;
    }
    .class-btn a{
        font-size: 14px;
    }
    .class-btn a::after{
        width: 110px;
    }
    .class-btn{
        padding-left: 20px;
    }
    .class-box-inner{
        padding: 48px 35px 68px 35px;
    }
    .class-box-inner p{
        font-size: 14px;
    }
    .about-box{
        padding: 0 0 50px 0;
    }
    .about-pic img{
        width: 104%;
    }
    .about-blog h1{
        margin-bottom: 20px;
    }
    .about-box p{
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 24px;
    }
    .about-pic{
        position: relative;
        top: 20%;
    }
    .video{
        padding: 80px 0;
    }
    .video-top h1{
        font-size: 35px;
    }
    .video-top p{
        font-size: 14px;
    }
    .video-blog a{
        font-size: 14px;
    }
    .video-blog a::after{
        width: 120px;
    }
    .video-blog{
        padding: 0px;
    }
    .skating2{
        margin-bottom: 77px;
    }
    .skating3{
        margin-bottom: 100px;
    }
    .shop-blog{
        width: 80%;
    }
    .shop-box2 h1{
        font-size: 35px;
        margin-bottom: 35px;
    }
    .shop-box2 p{
        font-size: 14px;
        margin-bottom: 35px;
    }
    .shop-box2{
        padding: 90px 0;
    }
    .shop{
        padding: 50px 0;
    }
    .jone-lo{
        right: 75%;
        top: -3%;
    }
    .michale{
        right: 35%;
        top: -25%;
    }
    .disol{
        right: 2%;
        top: -3%;
    }
    .testimonial-box-inner h2{
        font-size: 18px;
    }
    .testimonial-box-inner p{
        font-size: 14px;
        line-height: 26px;
    }
    .testimonial-box-inner{
        padding: 70px 25px 30px 25px;
    }
    .testimonial-box-inner2 h2{
        font-size: 24px;
    }
    .testimonial-box-inner2 p{
        font-size: 14px;
    }
    .testimonial-box-inner2{
        padding: 90px 65px 50px 65px;
    }
    .footer-inner{
        flex-wrap: nowrap;
    }
    .input-field input{
        font-size: 14px;
    }
    .form-btn a{
        font-size: 14px;
        padding: 17px 45px;
    }
    .footer-box2{
        padding-left: 20px;
    }
    .form-btn{
        margin-top: 20px;
    }
    .footer-box h1{
        font-size: 24px;
    }
    .footer-box2 h1{
        font-size: 24px;
    }
    .contact-blk h2{
        font-size: 14px;
    }
    .footer-box{
        margin-top: 0px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .banner-inner{
        flex-direction: column;
    }
    .banner-pic2{
        margin-bottom: 30px;
    }
    .carousel-control-next{
        top: 100%;
        width: 77%;
    }
    .carousel-control-prev{
        top: 100%;
        width: 100%;
    }
    .menu{
        flex-direction: column;
        text-align: center;
    }
    .menu li{
        padding: 0 0 30px 0;
    }
    .menu li a{
        font-size: 12px;
        padding: 15px 15px;
    }
    .logo{
        margin-bottom: 20px;
    }
    .class-bottom{
        flex-direction: column;
    }
    .class-box{
        margin-bottom: 50px;
    }
    .class-btn{
        padding-left: 135px;
    }
    .about-inner{
        flex-direction: column;
    }
    .about-pic img{
        width: 100%;
    }
    figure{
        margin-bottom: 0px;
    }
    .about-pic{
        position: relative;
        bottom: -9px;
    }
    .about-box{
        padding-left: 25px;
    }
    .video-bottom{
        flex-direction: column;
    }
    .video-box{
        margin-bottom: 30px;
    }
    .video-blog{
        padding: 0 0 0 150px;
    }
    .video-top h1{
        font-size: 35px;
    }
    .video-top p{
        font-size: 12px;
    }
    .skating{
        text-align: center;
    }
    .skating2{
        text-align: center;
    }
    .skating3{
        text-align: center;
    }
    .shop-inner{
        flex-direction: column;
    }
    .shop-box2 h1{
        font-size: 35px;
    }
    .shop-blog{
        width: 40%;
    }
    .shop-box2{
        padding: 0 0 0 25px
    }
    .shop-box{
        margin-bottom: 50px;
    }
    .shop-pic img{
        width: 100%;
    }
    .testimonial-blog{
        flex-direction: column;
    }
    .testimonial-box{
        margin-bottom: 70px;
    }
    .jone-lo{
        right: 35%;
    }
    .michale{
        right: 30%;
        top: 27%
    }
    .disol{
        right: 35%;
        top: 66%;
    }
  
    .footer-box2{
        padding: 0px;
    }
    .input-field{
        margin-top: -27px;
    }
    .form-btn a{
        font-size: 14px;
    }
    .input-field input{
        font-size: 14px;
    }
    .footer-box{
        margin-top: 0px;
    }
    .footer{
        padding: 100px 0;
    }
    .form-btn{
        margin-top: -6px;
    }
    .footer-box2{
        border-left: 0px;
    }
    #slider-direction-nav {
        top: 103%;
    }
    .contact-blk h2{
        font-size: 12px;
    }
    .copyright-inner p{
        font-size: 14px;
    }
    .footer-media{
        padding: 0 14px 0 0;
    }
    .footer-menu{
        padding-left: 30px;
    }
}
@media (min-width: 320px) and (max-width: 575px){
    .banner{
        padding: 30px 0;
    }
    .banner-inner{
        flex-direction: column;
    }
    .carousel-control-next{
        top: 105%;
        width: 60%;
    }
    .carousel-control-prev{
        top: 105%;
        width: 100%;
    }
    .menu{
        flex-direction: column;
        text-align: center;
    }
    .menu li{
        padding: 0 0 30px 0;
    }
    .menu li a{
        font-size: 12px;
        padding: 15px 15px;
    }
    .logo{
        margin-bottom: 20px;
    }
    .class{
        padding: 75px 0;
    }
    .class-bottom{
        flex-direction: column;
    }
    .class-box{
        margin-bottom: 50px;
    }
    .class-btn{
        padding-left: 25px;
    }
    .class-top h1{
        font-size: 28px;
    }
    .class-top p{
        font-size: 12px;
    }
    .class-box-inner{
        padding: 48px 50px 68px 50px;
    }
    .about-inner{
        flex-direction: column;
    }
    .about-pic img{
        width: 100%;
    }
    figure{
        margin-bottom: 0px;
    }
    .about-pic{
        position: relative;
        bottom: -5px;
    }
    .video{
        padding: 80px 0;
    }
    .video-bottom{
        flex-direction: column;
    }
    .video-box{
        margin-bottom: 30px;
    }
    .video-blog{
        padding: 0 0 0 40px;
    }
    .video-top h1{
        font-size: 35px;
    }
    .video-top p{
        font-size: 12px;
    }
    .skating{
        text-align: center;
    }
    .skating2{
        text-align: center;
    }
    .skating3{
        text-align: center;
    }
    .shop-inner{
        flex-direction: column;
    }
    .shop-box2 h1{
        font-size: 35px;
    }
    .shop-blog{
        width: 55%;
    }
    .shop-box2{
        padding: 0 0 0 25px
    }
    .shop-box{
        margin-bottom: 50px;
    }
    .shop-pic img{
        width: 100%;
    }
    .about-box{
        padding-left: 25px;
    }
    .shop{
        padding: 50px 0;
    }
    .shop-blog h1{
        margin-bottom: 35px;
    }
    .shop-box2 p{
        font-size: 14px;
        margin-bottom: 35px;
    }
    .testimonial-blog{
        flex-direction: column;
    }
    .testimonial-box{
        margin-bottom: 70px;
    }
    .jone-lo{
        right: 21%;
    }
    .michale{
        right: 13%;
        top: 27%
    }
    .disol{
        right: 21%;
        top: 69%;
    }
    .testimonial-box-inner2 p{
        font-size: 14px;
    }
    #slider-direction-nav{
        top: 102%;
    }
    .footer-box2{
        padding: 0px;
    }
    .input-field{
        margin-top: 0px;
    }
    .form-btn a{
        font-size: 14px;
    }
    .input-field input{
        font-size: 14px;
    }
    .footer-box{
        margin-top: 0px;
    }
    .footer{
        padding: 100px 0;
    }
    .form-btn{
        margin-bottom: 30px;
    }
    .footer-box2{
        border-left: 0px;
    }
  
    .contact-blk h2{
        font-size: 18px;
    }
    .copyright-inner p{
        font-size: 11px;
    }
    .footer-media{
        padding: 0 14px 0 0;
        justify-content: center;
    }

    .footer-form{
        flex-direction: column;
    }
    .footer-blog{
        flex-direction: column;
    }
    .footer-menu{
        flex-direction: column;
    }
    .footer-box h1{
        font-size: 24px;
    }
    .footer-inner{
        text-align: center;
    }
    .contact-blk{
        justify-content: center;
    }
    .footer-menu li{
        padding-right: 0px;
    }

}

