*{
    margin: 0;
    padding: 0%;
}

a {
    text-decoration: none;
}

a:hover{
  text-decoration: none;
}

ul li{
    list-style: none;
}



.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}
.col{
    padding-right: 15px;
    padding-left: 15px;
}

/* headerstart */
.header{
    padding: 28px 0;
}
.menu{
    display: flex;
    margin-bottom: 0px;
    padding: 0 70px;
}
.menu li{
    padding: 0 60px 0 0;
}
.menu li:last-child{
    padding-right: 0px;
}
.menu li a{
    font-size: 17px;
    color: #2b2b2b;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 20px;
}
.menu .active a{
    background-color: #f0390f;
    color: #fff;
}
.menu li:hover a{
    background-color: #f0390f;
    color: #fff;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.icon-blog a{
    font-size: 18px;
    color: #001431;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 30px;
    display: flex;
}
.icon-blog{
    display: flex;
    justify-content: flex-end;
}
/* headerend */

/* bannerstart */
.banner{
    padding: 70px 0;
}
.banner-inner{
    display: flex;
}
.banner-box{
    flex-basis: 40%;
}
.banner-box2{
    flex-basis: 60%;
}
.banner-pic{
    margin: 0 0 50px 0;
}
.banner-blog h1{
    font-size: 70px;
    color: #2b2b2b;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 0 60px 0;
}
.banner-blog{
    width: 70%;
}
.read-more a{
    font-size: 17px;
    color: #2b2b2b;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.read-more a::after{
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: #f0390f;
    bottom: 36%;
    left: 110%;
}
.banner-pic2 img{
    width: 100%;
}

.carousel-control-next-icon{
    background-image: url(../images/right\ arrow.PNG);
    width: 50px;
    height: 50px;
}
.carousel-control-prev-icon{
    background-image: url(../images/left\ arrow.PNG);
    width: 50px;
    height: 50px;
}
.carousel-control-prev {
    top: 70%;
    opacity: 1;
    width: 95%;
    left: -45%;
}
.carousel-control-next {
    top: 70%;
    opacity: 1;
    width: 95%;
    right: 45%;
}
/* bannerend */

/* classstart */
.class{
    padding: 170px 0;
}
.class-top h1{
    font-size: 45px;
    color: #2b2b2b;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.class-top{
    text-align: center;
    margin-bottom: 60px;
}
.class-top p{
    font-size: 17px;
    color: #2b2b2b;
}
.class-bottom{
    display: flex;
}
.class-box{
    flex-basis: 33.33%;
    text-align: center;
}
.class-box-inner{
    background-color: #f0390f;
    padding: 48px 75px 68px 75px;
    border-radius: 10px;
    margin: 0 0 55px 0;
}
.skateboard{
    margin: 0 0 30px 0;
}
.skateboard3{
    margin: 0 0 42px 0;
}
.class-box-inner p{
    font-size: 17px;
    color: #fff;
    line-height: 29px;
}
.class-btn a{
    font-size: 17px;
    color: #2b2b2b;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.class-btn a::after{
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: #f0390f;
    bottom: 36%;
    left: 110%;
}
.class-btn{
    display: flex;
    justify-content: flex-start;
    padding-left: 65px;
}
.active .class-box-inner{
    background-color: #001431;
}
.active .class-btn a::after{
    background-color: #001431;
}
.class-box-inner:hover{
    background-color: #001431;
}
.class-box:hover .class-btn a::after{
    background-color: #001431;
}
.skateboard2{
    margin: 0 0 29px 0;
}
/* classend */

/* aboutstart */
.about{
    background-image: url(../images/about\ bg.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 0 0;
}
.about-inner{
    display: flex;
}
.about-box{
    flex-basis: 50%;
    padding: 50px 0 150px 0;
}
.about-blog h1{
    font-size: 45px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 70px 0;
}
.about-blog{
    width: 50%;
}
.about-box p{
    font-size: 17px;
    color: #fff;
    line-height: 29px;
    margin: 0 0 65px 0;
}
.about-btn a{
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.about-btn a::after{
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: #f0390f;
    bottom: 36%;
    left: 110%;
}
.about-box2{
    flex-basis: 50%;
}
.about-pic img{
    width: 130%;
}
.about-pic{
    position: relative;
    top: 4%;
}
/* aboutend */

/* videostart */
.video{
    padding: 150px 0;
}
.video-top h1{
    font-size: 45px;
    color: #2b2b2b;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.video-top{
    text-align: center;
    margin: 0 0 100px 0;
}
.video-top p{
    font-size: 17px;
    color: #2b2b2b;
}
.video-bottom{
    display: flex;
}
.video-box{
    flex-basis: 33.33%;
}
.skating1 img{
    width: 90%;
}
.skating2 img{
    width: 90%;
}
.skating3 img{
    width: 90%;
}
.skating1{
    margin: 0 0 90px 0;  
}
.skating2{
    margin: 0 0 70px 0;  
}
.skating3{
    margin: 0 0 105px 0;  
}
.video-blog a{
    font-size: 17px;
    color: #2b2b2b;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.video-blog a::after{
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: #f0390f;
    bottom: 36%;
    left: 110%;
}
.video-blog{
    padding: 0 0 0 50px;
}
/* videoend */

/* shopstart */
.shop{
    padding: 100px 0;
}
.shop-inner{
    display: flex;
}
.shop-box{
    flex-basis: 60%;
}
.shop-pic img{
    width: 120%;
}
.shop-box2{
    flex-basis: 40%;
    padding: 200px 0;
}
.shop-box2 p{
    font-size: 17px;
    color: #2b2b2b;
    line-height: 29px;
    margin: 0 0 65px 0;
}
.shop-btn a{
    font-size: 17px;
    color: #2b2b2b;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.shop-btn a::after{
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: #f0390f;
    bottom: 36%;
    left: 110%;
}
.shop-box2 h1{
    font-size: 45px;
    color: #2b2b2b;
    font-weight: bold;
    margin: 0 0 70px 0;
    text-transform: capitalize;
}
.shop-blog{
    width: 50%;
}
/* shopend */

/* testimonialstart */
.testimonial{
    background-color: #3e0bce;
    padding: 80px 0;
}
.testimonial-top h1{
    font-size: 45px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}
.testimonial-top{
    display: flex;
    justify-content: center;
    margin: 0 0 100px 0;
}
.testimonial-blog{
    display: flex;
}
.testimonial-box{
    flex-basis: 30%;
    margin-top: 75px;
   
}
.testimonial-box-inner{
    background-color: #f0390f;
    padding: 90px 25px 50px 25px;
    border-radius: 20px;
    text-align: center;
}
.testimonial-box-inner h2{
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 0 14px 0;
}
.quotes a{
    color: #fff;
    margin: 0 0 20px 0;
}
.quotes{
    display: flex;
    justify-content: center;
}
.testimonial-box-inner p{
    font-size: 17px;
    color: #fff;
    line-height: 29px;
}
figure{
    margin-bottom: 0px;
}
.jone-lo{
    position: absolute;
    top: 0%;
    right: 79%;
    z-index: 1;
    text-align: center;
}
.testimonial-bottom{
    position: relative;
}
.testimonial-box2{
    flex-basis: 40%;
    flex-grow: unset;
}
.testimonial-box-inner2 h2{
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 0 14px 0;
}
.testimonial-box-inner2{
    background-color: #f0390f;
    padding: 140px 65px 75px 65px;
    border-radius: 20px;
    text-align: center;
}
.quotes2 a{
    color: #fff;
    margin: 0 0 20px 0;
}
.quotes2{
    display: flex;
    justify-content: center;
}
.testimonial-box-inner2 p{
    font-size: 17px;
    color: #fff;
    line-height: 29px;

}
.michale{
    position: absolute;
    right: 40%;
    top: -21%;
    z-index: 1;
}
.disol{
    position: absolute;
    right: 7%;
    top: 0%;
    z-index: 1;
}

.testimonial-box-inner2.active{
    background-color: #fff;
}
.testimonial-box-inner2.active h2{
    color: #2b2b2b;
}
.testimonial-box-inner2.active a{
    color: #2b2b2b;
}
.testimonial-box-inner2.active p{
    color: #2b2b2b;
}
.testimonial-box-inner:hover{
    background-color: #fff;
    
}
.testimonial-box-inner:hover h2{
    color: #2b2b2b;
}
.testimonial-box-inner:hover a{
    color: #2b2b2b;
}
.testimonial-box-inner:hover p{
    color: #2b2b2b;
}
/* testimonialend */

/* footerstart */
.footer{
    padding: 170px 0 120px 0;
}
.footer-inner{
    display: flex;
}
.footer-box{
    flex-basis: 30%;
    
    margin: 40px 0 0 0;
}
.footer-box h1{
    font-size: 30px;
    color: #2b2b2b;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 0 30px 0;
}
.contact-blk a{
    color: #5e3fd4;
    padding-right: 15px;
}
.contact-blk h2{
    font-size: 17px;
    color: #2b2b2b;
}
.contact-blk{
    display: flex;
    margin: 0 0 20px 0;
}
.footer-box2 h1{
    font-size: 30px;
    color: #2b2b2b;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 0 30px 0;
}
.input-field input{
    font-size: 17px;
    color: #2b2b2b;
    text-transform: capitalize;
    font-weight: normal;
    border: none;
    background-color: #f8f8f8;
    padding: 15px 0 15px 15px;
}
.form-btn a{
    font-size: 17px;
    color: #fff;
    background-color: #f0390f;
    padding: 17px 65px;
    border-radius: 10px;
    display: inline-flex;
    text-transform: capitalize;
    font-weight: bold;
}
.input-field{
    padding: 0 17px 0 0;
    margin: 0 0 45px 0;
}
.footer-form{
    display: flex;
}
.form-btn{
    margin-top: 20px;
}
.footer-menu{
    display: flex;
}
.footer-menu li{
    padding: 0 55px 0 0;
}
.footer-menu li:last-child{
    padding-right: 0px;
}
.footer-menu li a{
    font-size: 17px;
    color: #2b2b2b;
    text-transform: capitalize;
}
.footer-box2{
    padding: 0 0 0 75px;
    border-left: 1px solid #f0390f;
}
.footer-blog h1{
    font-size: 30px;
    color: #2b2b2b;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.footer-media li{
    padding: 0 10px 0 0;
}
.footer-media li:last-child{
    padding-right: 0px;
}

.footer-media{
    display: flex;
    padding: 0 14px 0 0;
}
.footer-blog{
    display: flex;
    justify-content: space-between;
}

/* footerend */

/* copyrightstart */
.copyright{
    background-color: #f0390f;
    padding: 30px 0;
}
.copyright-inner p{
    font-size: 17px;
    color: #fff;
    margin-bottom: 0px;
}
.copyright-inner{
    display: flex;
    justify-content: center;
}
/* copyrightend */